{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p>Voulez-vous supprimer cet article? </p>
                        <input type="submit" value="Supprimer" class="btn btn-danger">
                        <a href="" class="btn btn-secondary">Non</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}